<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <title>home</title>
</head>

<body>
    <div class="main">
        <div class="space"></div>
        <div class="content">
            <div class="comob">
                <img src="../images/logo-ho.png" alt="">
            </div>
            <div class="login-wrapper">
                <h1>Controle de Imobilizado</h1>
                <div class="login">
                    <form action="/consultar" method="POST">
                        <label for="login" class="sr-only"></label>
                        <input type="text" name="login" id="login" placeholder="USUÁRIO">
                        <label for="password" class="sr-only"></label>
                        <input type="password" name="password" id="password" placeholder="SENHA">
                        <div class="button"><a href="/list-imob">Entrar</a></div>
                        <!-- <button>ENTRAR</button> -->
                    </form>
                </div>
                <div class="separate"></div>
                <div class="register">
                    <button>REGISTRAR NOVO USUÁRIO</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>