<div class="header">
    <a href="/">
        COMOB
    </a>
    <nav>
        <ul>
            <li>
                <a href="/register-imob">CADASTRAR</a>
            </li>
            <li>
                <a href="/list-imob">LISTAR</a>
            </li>
        </ul>
    </nav>

</div>