main{
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 38%);
    border-radius: 3.3rem;
    padding: 5rem;
    border: 2px solid var(--purple);
    margin-top: 2rem;
}


main form{
    display: grid;
    grid-template-columns: 70% 30%;

    justify-content: center;
    align-items: center;
    text-align: center;
}
main form label {
    font-family: 'Poppins';
    font-size: 2rem;
}

main form .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .content h1{
    font-size: 4rem;
    font-family: 'Poppins', 'Opens Sans';
    margin-bottom: 2rem;
    
}

main form .content input{
    width: 100%;
    margin-bottom: 2rem;

}
main form .content textarea{

    margin-bottom: 2rem;

}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons button{
    margin-bottom: 2rem;
}

.buttons a{
    color: var(--black);

}

main button, .button{
    width: 70%;
}








