main{
    width: 90%;
    margin: auto;
    background: var(--white);
    border-radius: 3.3rem;
    padding: 5rem;
    margin-top: 2rem;
}


main form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    
}
main form label {
    font-family: 'Poppins', Arial;
    font-size: 2rem;
    display: block;
}


form .full-width{
    grid-column: 1/4;
}


form .b-full-width{
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
}

main h1{
    font-size: 4rem;
    font-family: 'Poppins', Arial;
    margin-bottom: 2rem;
    
}
/* 
main form .content input{
    width: 100%;
    margin-bottom: 2rem;

}
main form .content textarea{

    margin-bottom: 2rem;

} */

/* .buttons{
    display: flex;
    justify-content: space-between;

}

.buttons button{
    margin-right: 5rem;

}


.buttons a{
    color: var(--black);

} */








