main{
    width: 100%;
    margin: auto;
    background: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    border: 2px solid var(--purple);
    margin-top: 2rem;
}

table{
    width: 100%;
    font-family: Poppins, 'Opens Sans';
}

table thead{
    font-size: 2rem;
    background-color: var(--gray);
    color: var(--dark);
}
table thead td{
    text-align: center;
}

table tbody td{
    font-family: 'POPPINS', 'ARIAL';
    font-size: 2rem;
    color: var(--white);
    padding: 2rem 0rem 0rem 1rem;
    word-break: break-all;
    background-color: var(--gray);
}

a{
    color: var(--white);
}
a:hover{
    color: var(--dark);
}

table tbody td:nth-child(1){
    width: 10rem;
}
table tbody td:nth-child(2){
    width: 50rem;
    padding: 2rem 1rem 0rem 1rem;
}
table tbody td:nth-child(3){
    width: 15rem;

}

