* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --white: #F2F2F2;
    --gray: #A6A6A6;
    --gray-dark: #8C8C8C;
    --dark-light: #404040;
    --dark: #0D0D0D;
    /* --black: #000000;
    --purple: #7000FF;
    --white: #FFFFFF;
    --blue: #A8C9C9;
    --grey: #C4C4C4;
    --blue-baby: #00FFFF; */
    /* 1 rem = 16px do navegador */
    font-size: 62.5%;
}

.header {
    width: 100%;
    background-color: var(--dark-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
}

.header a {
    font-size: 5rem;   
}

.header nav {
    float: right;
    margin-right: 2rem;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
}

.header nav ul li a {
    font-size: 2rem;
    transition: .2s all;
    color: var(--white);
    margin-left: 2rem;
}

.header nav ul li a:hover {
    color: var(--gray);
}

body {
    background: var(--gray);
}

input,
button,
.button {
    height: 5rem;
    /* border-radius: 1rem; */
    padding: 2rem;
}

input{
    width: 100%;

}

input,
button,
.button {
    font-family: 'Poppins', 'opens sans';
    font-weight: 500;
    line-height: 0;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}

button a,
.button a {
    color: var(--white);
}

input {
    background: var(--gray);
    color: var(--dark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button,
.button {
    background: var(--dark-light);
    border: 2px solid var(--dark);
    color: var(--white);
}

button:hover,
.button:hover {
    filter: brightness(1.2);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active,
.button:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: var(--dark);
}

textarea {
    font-family: Poppins;
    font-size: 2rem;
    width: 100%;
    outline: none;
    resize: none;
    background: var(--gray);
    color: var(--dark);
    padding: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--dark);
    color: var(--dark-light);
    border: .2rem solid var(--blue);
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.space {
    width: 100%;
    height: 1rem;
    margin-bottom: 10rem;
}