<html>
    <head>
        <title> Senha incorreta</title>
        <script>
            confirm("Preencha todos os campos")
            window.location.replace('/register-user')
            

        </script>
    </head>
</html>